/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #333333; /* Dark gray background */
    color: #f7f7f7; /* Light gray text color */
    line-height: 1.6;
}

header {
    background-color: #80cbc4; /* Light teal */
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #f7f7f7; /* Light gray text color */
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

nav a:hover {
    color: #666666; /* Grey color */
    transform: scale(1.1);
}

section {
    margin: 40px;
    padding: 20px;
    border-radius: 5px;
    color: #f7f7f7; /* Light gray text color */
    background-color: #444444; /* Dark gray background */
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: 1px solid #f7f7f7; /* White border */
}

/* Set different background color for subheading sections */
#about, #education, #skills, #experience, #projects, #contact {
    background-color: #555555; /* Slightly lighter gray */
}

h2, h3 {
    color: #f7f7f7; /* Light gray text color */
    margin-bottom: 10px;
}

footer {
    background-color: #4a6572; /* Darker gray */
    color: white;
    text-align: center;
    padding: 10px;
}

.blank-line {
    content: "";
    display: block;
    height: 1em;
}

section:hover {
    background-color: #666666; /* Slightly lighter gray on hover */
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style the skills and education tables */
.skills-table, .education-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-left: 0; /* Align the table to the left */
}

.skills-table td, .education-table td {
    padding: 10px;
    border-bottom: 2px solid #f7f7f7; /* White bottom border */
    border-top: 2px solid #f7f7f7; /* White top border */
    text-align: left;
    color: #f7f7f7; /* White text color */
}

.skills-table .skill-heading {
    font-weight: bold;
    color: #f7f7f7; /* White skill heading color */
}

.skills-table .skill-content, .education-table .details, .education-table .college {
    font-size: 14px;
    color: #f7f7f7; /* White text color */
}

.skills-table th, .education-table th {
    background-color: #f2f2f2;
    font-weight: normal;
    color: #333333; /* Dark gray text color for table headers */
}

/* Rest of your CSS */
